 <!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bidding Application
  </h1>
  
  <router-outlet></router-outlet>
<button type="button" class="btn btn-primary-outline pull-right" (click)="register();"><i class="fa fa-plus"></i> Register for Bidding</button>   
<button type="button" class="btn btn-primary-outline pull-right" (click)="login();"><i class="fa fa-plus"></i> Login to Bidding</button>
<button type="button" class="btn btn-primary-outline pull-right" (click)="leaderBoard();"><i class="fa fa-plus"></i> Leader Board</button>
<button type="button" class="btn btn-primary-outline pull-right" (click)="createBid();"><i class="fa fa-plus"></i> Create Bid</button>
<button type="button" class="btn btn-primary-outline pull-right" (click)="startBid();"><i class="fa fa-plus"></i> Start Bidding</button>
</div>

<router-outlet></router-outlet>
